body {
  margin: 50px;
}

main {
  display: flex;
}

.circle {
  margin: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.circle:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.circle img {
  width: 30px;
  height: 30px;
}

.add {
  background-color: #919191;
  opacity: 0.6;
}

.dot {
  background-color: #ff0000;
}
